body {
  background-color: powderblue;
}
h1 {
  color: burlywood;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  background-color: white;
  width: 30%;
}
img:hover {
  border-radius: 100%;
  background-color: gold;
}
.cake {
  background-color: crimson;
}
/** id selecter is more important than general (because it's unique) **/
#head {
  color: black;
}
