body {
  background-color: skyblue;
  margin: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
}
img {
}
div {
}
h1 {
  width: 10%;
  margin: 0 auto;
}
h2 {
  width: 10%;
  margin: 0 auto;
}
.top {
  position: relative;
  padding-top: 100px;
}
.middle {
  position: relative;
  padding-top: 100px;
}

.bottom {
  position: relative;
  padding-top: 100px;
}
.mountain {
  padding-top: 200px;
  width: 50%;
  height: 50%;
  display: inline;
  position: relative;

  margin: 0 auto 0 auto;
}
.top-cloud {
  display: inline;
  position: absolute;
  right: 30%;
}
.middle-cloud {
  display: inline;
  position: absolute;
  right: 45%;
}
.bottom-cloud {
  display: inline;
  position: absolute;
  left: 25%;
}
